{% extends "base.html" %}
{% import "_project_lists_section.html" as sections %}
{% block title %}{{ project.name }} -- Lists{% endblock %}
{% block content %}
<!-- see event_form.html for why this is wrapped -- static/modal.js -->
<div id="modal-target">
<h1>{{ icon(project.icon or 'folder') }} {{ project.name }}</h1>

<div class="project-sublists">
    {{ sections.linked_list_section('Task lists', 'list', task_lists_by_project.get(project.uid, []), unclaimed_task_lists, '/task-lists', project.uid) }}
    {{ sections.linked_list_section('Calendars', 'calendar', calendars_by_project.get(project.uid, []), unclaimed_calendars, '/calendars', project.uid) }}
    {{ sections.linked_list_section('Address books', 'address-book', addressbooks_by_project.get(project.uid, []), unclaimed_addressbooks, '/addressbooks', project.uid, allow_create=False) }}
</div>

<div class="toolbar" style="margin-top:16px">
    <a href="/projects" class="btn ghost" data-modal-cancel>Done</a>
</div>
</div>
{% endblock %}
